@import 'config';
@import 'utilities';

*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body
{
    font-family: 'League Spartan';
    background-color: $th1-main-background;
}

input, button
{
    font-family: 'League Spartan';
}

.panel
{
    border-radius: 7px;

    .container
    {
        width: 100%;
        padding: 24px 20px;
    }
}

.btn
{
    color: $th1-text;
    border-radius: 7px;
    border:none;
    outline: none;
    font-weight: 700;
    font-size: 25px;
    padding-top: 5px;
    background-color: $th1-orange-key-background;
    border-bottom: 3px solid $th1-orange-key-shadow; 
}

.math-operator-btn, .dot-btn
{
    @extend .btn;
}

.special-btn
{
    @extend .btn;
    text-transform: uppercase;
    font-size: 18px;
}

main
{   
    padding-top: 100px;

    .calculator
    {
        
        width: 84%;

        .calculator-header
        {
            color: #fff;
            align-items: center;
            justify-content: space-between;
    
            .title
            {
                font-size: 1.4rem;
            }
    
            .theme-controls
            {
                .title
                {
                    align-self: flex-end;
                    margin-right: 20px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 0.6rem;
                }
    
                .three-state-switch
                {
                    .label-group
                    {
                        justify-content: space-between;
                        font-size: 0.7rem;
                        padding: 0 7px;
                        margin-bottom: 3px;
                    }
    
                    .radio-group
                    {
                        background-color: $th1-toggle-background;
                        border-radius: 17px;
                        width: 60px;
                        height: 20px;
                        padding: 10px;
                        justify-content: space-between;
                        align-items: center;
                        
                        .radio-container
                        {
                            position: relative;
                            input
                            {         
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }
        
                            .checkmark
                            {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                height: 12px;
                                width: 12px;
                                background-color: #eee;
                                border-radius: 50%;
                            }
                        }
    
                        .radio-container:hover input ~ .checkmark
                        {
                            cursor: pointer;
                            background-color: #ccc;
                        }
                       
                    }
                }
            }
        }
    
        .calculator-display
        {
            margin: 20px 0;
            background-color: $th1-screen-background;
    
            input
            {
                width: 100%;
                background-color: transparent;
                border:none;
                outline:none;
                cursor: default;
                text-align: right;
                color: #fff;
                font-size: 32px;
                font-weight: 700;
            }
        }
    
        .calculator-buttons
        {
            background-color: $th1-toggle-background;
            height: 300px;
    
            .container
            {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 15px;
            }
    
            #delete-btn, #reset-btn
            {
                background-color: $th1-blue-key-background;
                border-bottom-color: $th1-blue-key-shadow;
                color: #fff;
            }
    
            #reset-btn
            {
                grid-column: 1 / 3;
            }
    
            #equals-btn
            {
                background-color: $th1-red-key-background;
                border-bottom-color: $th1-red-key-shadow;
                color: #fff;
                grid-column: 3 / 5;
            }
        }
    }
    
    
}

@import 'mobile';
